/* Style */

/*body {
    margin-top: 50px;
    margin-bottom: 30px;
    background-image: url('../img/bentotest_2048x.png');
    background-size: 100% auto;
    background-attachment: local;
}
*/

body {
  /* Location of the image */
  background-image: url('../img/testing.png');
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #eeeeee;
}

.img-adu {
    width: 100%;
    height: auto;
}

.container {
    position: absolute;
    top: 200px;
    left: 100px;
}

/* Style our navbar. */
.navbar {
    background-color: #333333;
    margin-bottom: 0;
}

/* The footer always appears at the bottom of the browser window. */
footer {
    height: 30px;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;  /* required because fixed position */
}


/*#canvas-picker {
  width: 800px;
  height: auto;
  position: relative;
  margin: 0 auto;
  z-index: 100;
}*/

#sample-box {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  background-color: red;
  opacity: 0.5;
}
