/* Style */

body {
  /* Location of the image */
  background-image: url('../img/testing.png');  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #eeeeee;
}

.img-adu {
    width: 100%;
    height: auto;
}

.container {
    position: absolute;
    top: 200px;
    left: 100px;
}

/* Style our navbar. */
.navbar {
    background-color: transparent;
    border-bottom: none;
}


.fa, .glyphicon {
    font-size: 50px;
    color: #333333;
}




#canvas-picker {
    background-color: black;
    position: relative;
    margin: 0 auto;
    z-index: 100;
    cursor: url('../img/eyedropper_flip.png') 25 25, auto;
}

#sample-box {
    position: relative;
    margin: 0 auto;
    height: 50px;
    width: 100px;
    background-color: orange;
    opacity: 0.5;
    border: white 3px solid;
}

#opacity-range {
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
}
