{% extends 'navbar.html' %}

{% block content %}


<canvas id="canvas-picker"></canvas>

<div>

<form action='/color_input' method='GET'>
    RGB: <input id="rgb" type="text" placeholder='0-255, 0-255, 0-255' value='' data-rgb=''></input>
    HEX: <input id="hex" type="text" placeholder='RRGGBB' value='' data-hex=''></input>
</form>

<div>
    <h3>opacity slider</h3>
    <label id="opacity-range-label" for="opacity-range"></label>
    <input id="opacity-range" type="range" max='100' min='0' value='100' />
    <div id='sample-box'></div>
</div>

</div>


{% endblock %}