{% extends 'navbar.html' %}

{% block content %}

    <!-- <img src='../static/img/gradient.png'></img> -->
    <img class='img-adu' src='../static/img/bentotest_2048x.png'></img>


<div class='container'>

<h1>Accessory Dwelling Unit</h1>

<hr>

<p><a href="/components">View all the components you may select.</a></p>

<ul>
    <li>Roofing</li>
    <ul>
        <li>Shingle</li>
        <li>Standing Seam Metal</li>
        <li>Spanish Tile</li>
    </ul>
    <li>Flooring</li>
    <ul>
        <li>Wood</li>
        <li>Concrete</li>
        <li>Tile</li>
    </ul>
    <li>Exterior Wall Finishes</li>
    <ul>
        <li>Cement Plaster</li>
        <li>Wood Siding</li>
        <li>Board + Batten</li>
        <li>Aluminum Panels</li>
        <li>Brick Veneer</li>
    </ul>
    <li>Door + Window Styles</li>
    <ul>
        <li>Contemporary Metal Storefront</li>
        <li>Classic Wood Trim + Molds</li>
    </ul>
    <li>Appliances</li>
    <ul>
        <li>Washer</li>
        <li>Dryer</li>
    </ul>
    <li>Built-In Furniture</li>
    <ul>
        <li>Closet</li>
        <li>Shelves</li>
        <li>Drawers</li>
        <li>Desk</li>
    </ul>
</ul>


<p><a href="/permutations">View your saved permutations.</a></p>

</div>

{% endblock %}
