{% extends 'navbar.html' %}

{% block content %}





<script>

$(document).ready( function() {

$('.btn').on('click', function(e) {
    var identity = $(this).attr('id');
    $("div.cat[data-cat='"+identity+"']").toggle();

});

});

</script>



    <!-- <img src='../static/img/gradient.png'></img> -->
    <img class='img-adu' src='../static/img/bentotest_2048x.png'></img>


<div class='container'>

<h1>Accessory Dwelling Unit</h1>

<hr>

<p><a href="/components">View all the categories of components you may select.</a></p>

<form action='' method='POST'>
{% for permutation in permutations %}

<label><input type="button" class='category btn btn-info' id='{{ permutation[0] }}'
    value="{{ permutation[0] }} ({{ permutation[1] }})"><span class="badge"></span></label>

{% for each in permutation[2] %}
<div class='cat' data-cat='{{ permutation[0] }}'>
<label class='component component-label'>
    <input type="radio" name="optradio"
           class='component component-radio'
           value="{{ each[0] }}">{{ each }}</label>
</div>
{% endfor %}

{% endfor %}
</form>







<p><a href="/permutations">View your saved permutations.</a></p>

</div>

{% endblock %}
